<article class="li {{ .Type }}">
  <header class="post-header">
    <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <p class="post-time"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "January 2, 2006" }}</time></p>
  </header>

  <section class="post-excerpt">
    <p>{{ .Summary }}</p>
  </section>

  <footer class="post-footer">
    <span>
      {{ if .Site.Params.disqusShortname }}
      <a href="{{ .Permalink }}#comments"><i class="fa fa-comment"></i> Comments</a>
      {{ end }}
      {{ with.Params.tags }}
        &nbsp;&nbsp;<i class="fa fa-tag"></i>
        {{ delimit  . ", " }}
      {{ end }}
    </span>
  </footer>
</article>
