<article class="{{ .Type }}">
  <header class="post-header">
    <h3 class="p-post-title">{{ .Title }}</h3>
  </header>

  <section class="post-content">
    {{ .Content }}
  </section>

  <hr>

  <footer class="post-footer">
    <section class="f-1">
      {{ if isset .Params "author" }}
      <section class="author">
        <p>Words by {{ index .Params "author" }}</p>
      </section>
      {{ else if isset .Site.Params "author" }}
      <section class="author">
        <p>Words by {{ index .Site.Params "author" }}</p>
      </section>
      {{ end }}

      <p class="f-post-time"><time
          datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time></p>
    </section>

    <section class="f-2">
      <section class="share">
        <span>Share:
          <a class="icon-twitter" href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <i class="fab fa-facebook"></i>
          </a>
        </span>
      </section>

      {{ with .Params.tags }}
      <span class="f-post-tags"><i class="fas fa-tag"></i>
        {{ delimit  . ", " }}
      </span>
      {{ end }}
    </section>
    {{ partial "disqus.html" . }}
  </footer>
</article>
