<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">

{{ partial "head.html" . }}
<body>

{{ partial "header.html" . }}
<main class="content" role="main">
  <div class="container">
    {{ .Render "post" }}
  </div>
</main>
{{ partial "footer.html" . }}
{{ partial "google_analytics.html" . }}
</body>
</html>
