<footer id="site-footer" class="container">
  <hr />
  <div class="promo-icons">
  {{- with .Site.Params.twitter -}}
    <a href="https://www.twitter.com/{{ . }}" title="Twitter" rel="noopener" target="_blank"><span class="tooltip"><i class="fab fa-twitter"></i></span></a>
  {{- end -}}
  {{- with .Site.Params.github -}}
    <a href="https://www.github.com/{{ . }}" title="GitHub" rel="noopener" target="_blank"><span class="tooltip"><i class="fab fa-github"></i></span></a>
  {{- end -}}
  {{- if .OutputFormats.Get "RSS" }}
  <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="Get the RSS feed" type="application/rss+xml"><span class="tooltip"><i class="fas fa-rss"></i></span></a>
  {{- end -}}
  </div>
  <div>&copy; <a href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a> 2020</div>
  <div><a href="mailto:blog@dominik.berlin">blog@dominik.berlin</a></div>
</footer>
