<head>
  <meta charset="utf-8">
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
  <meta name="author" content="{{ .Site.Params.author }}">
{{- with .Site.Params.keywords -}}
  <meta name="keywords" content="{{ range $index, $element := $.Site.Params.keywords }}{{ if gt $index 0 }}, {{ end }}{{ . | safeHTML }}{{ else }}{{ . | safeHTML }}{{ end }}">
{{- end -}}
{{- with .Site.Params.twitter -}}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@https://twitter.com/{{ . }}">
  <meta name="twitter:creator" content="@https://twitter.com/{{ . }}">
  <meta name="twitter:domain" content="{{ $.Site.BaseURL }}">
{{- end -}}
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
{{- if .IsPage -}}
  <meta property="og:type" content="article" />
  <meta property="og:article:author" content="{{ .Site.Params.author }}" />
  <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
{{- else -}}
  <meta property="og:type" content="website" />
{{ end }}
  <link rel="canonical" href="{{ .Site.BaseURL }}" />
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/main.css"/>
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat:700&display=swap" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/364180ebac.js" crossorigin="anonymous"></script>
</head>
