/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}


/* Custom Styles */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
  background-color: #fcfcfc;
  padding: 0;
  color: #111;
  min-height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1;
  margin-top: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 56px;
  margin-bottom: 0.495em;
}

h2 {
  font-size: 48px;
  margin-bottom: 0.61875em
}

h3 {
  font-size: 36px;
  margin-bottom: 0.825em
}

h4 {
  font-size: 24px;
  margin-bottom: 1.2375em
}

h5 {
  font-size: 21px;
  margin-bottom: 1.4142857142857141em
}

h6 {
  font-size: 18px;
  margin-bottom: 1.65em
}

p {
  margin: auto auto 1.5em;
}

a {
  color: #111;
  text-decoration: none;
  line-height: inherit;
  outline: 0;
  -webkit-transition: color .1s ease-out;
  -webkit-transition-property: color;
  -webkit-transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: initial;
  -moz-transition: color .1s ease-out;
  -o-transition: color .1s ease-out;
  -ms-transition: color .1s ease-out;
  transition: color .1s ease-out;
  transition-property: color;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-delay: initial
}

a:hover {
  color: #5A8DBA
}

p a,
p a:visited {
  line-height: inherit
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1.5em;
  list-style-position: inside
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0
}

dt {
  font-weight: bold
}

dd {
  margin-left: 0
}

em,
i {
  font-style: italic;
  line-height: inherit
}

strong,
b {
  line-height: inherit
}

small,
.small {
  font-size: 75%;
  font-weight: normal;
  line-height: 1
}

u,
ins {
  text-decoration: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none
}

blockquote {
  max-width: 100%;
  border-left: 5px solid #e6e6e6;
  margin: 1.5em 0
}

blockquote,
q {
  quotes: none;
  font-size: 125%
}

blockquote>p {
  padding: 15px
}

cite {
  font-style: normal
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto
}

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  *zoom: 1
}

.nav:before,
.nav:after {
  content: "";
  display: table
}

.nav:after {
  clear: both
}

.nav>li,
.nav>li>a {
  display: inline-block;
  *display: inline;
  zoom: 1
}

img,
embed,
object,
video {
  display: block;
  max-width: 100%;
  height: auto
}

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  font-style: italic
}

a img {
  border: 0
}

img[width],
img[height] {
  max-width: none
}

figure>img {
  display: block
}

audio,
canvas,
img,
video {
  vertical-align: middle
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
  background-image: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: inherit;
  line-height: 1.65;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 15px 20px
}

.btn:hover,
.btn:focus,
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  background-color: #3d8c38;
  border: 1px solid transparent;
  color: #fff;
  text-decoration: none;
  border-bottom: none
}

.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  outline: none;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15)
}

.btn::-moz-focus-inner {
  border: 0;
  padding: 0
}

.btn-primary {
  background-color: #4db146;
  border-bottom: #3d8c38
}

.btn-secondary {
  border: solid 1px #b3b3b3;
  color: #333
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #e6e6e6;
  color: #333;
  border: solid 1px #b3b3b3
}

select,
input,
textarea {
  color: #333
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0
}

legend {
  display: block;
  width: 100%;
  font-size: 150%;
  line-height: inherit;
  white-space: normal
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold
}

textarea {
  height: auto;
  resize: vertical
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px
}

input[type="file"] {
  display: block;
  width: 100%
}

select[multiple],
select[size] {
  height: auto
}

select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto
}

output {
  display: block;
  vertical-align: middle
}

input,
button,
select,
label {
  vertical-align: middle
}

input,
button,
select,
textarea {
  line-height: inherit;
  -webkit-font-smoothing: antialiased
}

input:focus,
textarea:focus {
  outline: 0
}

input,
textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: inherit;
  font-family: inherit;
  text-indent: 15px;
  vertical-align: middle;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition-property: border-color, box-shadow;
  -webkit-transition-duration: 0.15s, 0.15s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-delay: initial, initial;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, initial
}

input textarea,
textarea textarea {
  height: auto
}

input:focus,
textarea:focus {
  border-color: #4db146;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace
}

code {
  padding: 2px 4px;
  max-width: 100%;
  font-size: 90%;
  color: inherit;
  background-color: transparent;
  white-space: nowrap;
  border-radius: 5px
}

pre {
  display: block;
  padding: 10px;
  margin: 2.5em 0;
  max-width: 100%;
  font-size: 75%;
  line-height: 1.65;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #e6e6e6;
  border: 1px solid #b3b3b3;
  border-radius: 5px
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  word-wrap: normal;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0
}

.pre-scrollable {
  max-height: 350px;
  overflow-y: scroll
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1rem 0;
  padding: 0
}

::-moz-selection {
  background: #666;
  color: white;
  text-shadow: none
}

::selection {
  background: #666;
  color: white;
  text-shadow: none
}

#site-header {
  text-align: center;
  padding-top: 4em;
  margin-bottom: 4em;
}

.blog-title {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 50px;
  color: #5A8DBA;
}

@media (min-width: 780px) {
  .blog-title {
    font-size: 75px;
  }
}

.blog-description {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #333;
  font-size: 0.75rem
}

article {
  margin-bottom: 9em
}

article.li {
  margin-bottom: 2em;
}

@media (max-width: 800px) {
  article {
    margin-bottom: 7em;
  }

  article.li {
    margin-bottom: 2em;
  }
}

.post-header {
  text-align: center
}

.post-title {
  margin-bottom: 30px
}

.post-time {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
  font-size: 80%
}

.post-footer {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 80%;
  margin-top: 30px
}

.pagination {
  text-align: center;
  margin: 4em 0 9em 0;
  color: #b3b3b3
}

@media (max-width: 800px) {
  .pagination {
    margin: 4em 0 6em 0;
  }
}

.post-content a,
#site-footer a {
  text-decoration: none;
  font-weight: bold;
}

.post-content a:hover,
#site-footer a:hover {
  text-decoration: underline;
}

.m-logo {
  display: none;
  visibility: hidden
}

.p-post-title {
  margin-bottom: 50px
}

.f-1 {
  *zoom: 1
}

.f-1:before,
.f-1:after {
  content: "";
  display: table
}

.f-1:after {
  clear: both
}

.author {
  float: left
}

@media (max-width: 550px) {
  .author {
    float: none
  }
}

@media (max-width: 550px) {
  .author {
    float: none
  }

  .f-post-time {
    float: inherit
  }
}

.f-post-time {
  float: right
}

@media (max-width: 550px) {
  .f-post-time {
    float: none
  }
}

.f-2 {
  *zoom: 1
}

.f-2:before,
.f-2:after {
  content: "";
  display: table
}

.f-2:after {
  clear: both
}

.f-post-tags {
  float: right
}

@media (max-width: 550px) {
  .f-post-tags {
    float: none
  }
}

.share {
  float: left
}

@media (max-width: 550px) {
  .share {
    float: none;
    margin-bottom: 1.5em
  }
}

#comments {
  margin-top: 30px
}

@media (max-width: 550px) {
  #comments {
    margin-top: 1em
  }
}

.m-page a {
  color: #333
}

.twitter-tweet-rendered {
  margin: 1rem auto;
}

/* Archetypes */

.bookshelf .p-post-title:before,
.bookshelf .post-title:before {
  content: "📖";
  margin-right: 1rem;
}

/* Footer */
#site-footer {
  text-align: center;
  height: 8rem
}

.promo-icons > a {
  margin-left: 1rem;
}

.promo-icons > a:first-child {
  margin-left: 0;
}

/**
 * Print Styles
 */
@media print {
  * {
    background: transparent;
    color: #000;
    box-shadow: none;
    text-shadow: none;
  }

  a,
  a:visited {
    text-decoration: underline
  }

  a[href]:after {
    content: " ("attr(href) ")"
  }

  abbr[title]:after {
    content: " ("attr(title) ")"
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid
  }

  thead {
    display: table-header-group
  }

  tr,
  img {
    page-break-inside: avoid
  }

  img {
    max-width: 100% !important
  }

  @page {
    margin: 0.5cm
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3
  }

  h2,
  h3 {
    page-break-after: avoid
  }
}
